/* app css stylesheet */

body {
  background: white;
  color: black;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.highlight {
  font-weight: bold;
}

.sidebar {
    margin: 0 auto;
}

.col-center {
  float: none;
  margin: 0 auto;
}

.content {
  color: black;
}

/*----- General styles ------*/

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*----- SIDE BAR Tags------*/
.tag-name {
  display: inline-block;
  font-style: italic;
  padding: 0 15px 15px 0;
}

.tag-name.highlight {
  font-style: normal;
}
.tag-count {
  padding: 3px
}

.tag-table{
    width:50%;
}

/*------- INTRO SLIDES --------*/
.slide {
  background: white;
  color: black;
  margin-top: 10%;
}

.slide-content {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 25%;
}

.next-slide {
  left: 75%;
  position: relative;
  background:none!important;
  border: none!important; 
  padding:0!important;
}

.next-slide:disabled {
  color: lightgray;
}

.slide strong {
  border-bottom: 1px solid black;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.slide p {
  padding-top: 1em;
}

.slide input { 
  border: none;
  border-bottom: 1px solid black;
  display: block;
  color: gray;
  font-style: italic;
  outline: none;
}

.slide input:focus { 
  color: black;
}

/*----- SIDE BAR EMAIL ------*/
.sidebar-subject {
    font-size: 1.5em;
}

.sidebar-title {
    padding-bottom: 3px;
    border-bottom: 1px dotted #7F8CA9;
}

/*---- Main Content ------*/

.content-close {
    float:right;
}

.content-tag {
    color: black;
    font-size: 0.8em;
    margin-right: 10px;
}

.content-body {
    margin-top:10px;
    margin-bottom:80px;
}

.content-title {
    font-size:2em;
    margin-bottom: 0px;
}

.pull-quote {
  margin-top: 30px;
}

blockquote {
  border-left-width: 2px;
}

.content-email {
  background: white;
  border-radius: 3px;
  border-bottom: 1px solid grey;
  color: black;
  position: relative;
  margin-top: 5px;
}

.content-body {
  white-space: pre-wrap;
}

.pull-quote {
  margin-top: 30px;
}

/* ----- ANIMATION ------ */

.animate-email.ng-enter,
.animate-email.ng-leave,
.animate-email.ng-move {
  -webkit-transition:0.1s ease all;
  transition:0.2s linear all;
  position: relative;
  width: 100%;
}
.animate-email.ng-enter,
.animate-email.ng-leave.ng-leave-active {
  left: -100%;
}
.animate-email.ng-leave,
.animate-email.ng-enter.ng-enter-active {
  left: 0;
}

.animate-slide {
  -webkit-transition:0.2s ease all;
  transition:0.2s ease all;
  position: relative;
  width: 100%;
  left: 0;
}

.animate-slide.ng-hide {
}

.animate-slide.ng-hide-remove-active {
  left: 100%;
}

.animate-slide.ng-hide-add-active {
    /* this needs to be here to make it visible during the animation
     *  since the .ng-hide class is already on the element rendering
     *  it as hidden. */
  display:block !important;
  left: -100%;
}

.animate-non-slide {
  -webkit-transition:2s ease all;
  transition:2s ease all;
  opacity: 1;
}

.animate-non-slide.ng-hide-remove {
  display: block !important;
}
.animate-non-slide.ng-hide {
  opacity: 0;
}
