<div class="slide animate-slide">
  <div class="slide-content">
    <strong>The Original Letter</strong>
    <p>AndAnd this is a delicious And this is a delicious And this is a delicious And this is a delicious And this is a delicious And this is a delicious And this is a delicious And this is a delicious And this is a delicious And this is a delicious And this is a delicious 
    this is a delicious litle slide paragraph</p>
    <span ui-sref="read" class="next-slide clickable pull-right" ng-click="incrementSlide()">Next</span>
  </div>
</div>
